.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  height: 8vh;
  color: #a0a0a0;
}

.logo-footer {
  font-size: 17px;
  color: #5cb85c;
  text-decoration: none;
  margin-right: 7px;
}

.green-link {
  color: #5cb85c;
  text-decoration: none;
}
.green-link:hover, .logo-footer:hover {
  color: green;
  cursor: pointer;
  text-decoration: underline;
}

.fs13{
  font-size: 13px;
}
