<!--<div class='header-wrapper'>-->
<!--  <div class='navbar-wrapper'>-->
<!--    <p [routerLink]="['']"><b><i>conduit</i></b></p>-->

<!--    <ul>-->
<!--      <li [routerLink]="['']">Home</li>-->
<!--      <li [routerLink]="['editor']">New Article</li>-->
<!--      <li [routerLink]="['settings']">Settings</li>-->
<!--      <li [routerLink]="['profile, username']">username</li>-->
<!--    </ul>-->


    <ul>
      <li [routerLink]="['']">Home</li>
      <li [routerLink]="['login']">Sign in</li>
      <li [routerLink]="['register']">Sign up</li>
    </ul>

<!--  </div>-->
<!--</div>-->
