
.sign-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.sign-title {
  font-size: 35px;
}
.sign-link {
  color: #5cb85c;
  margin-bottom: 20px;
  text-decoration: none;
}
.sign-link:hover {
  color: green;
  text-decoration: underline;
}

.errors-wrapper {
  width: 450px;
  display: flex;
  justify-content: left;
}

.sign-input{
  width: 450px;
  margin-top: 15px;
  padding: 8px 15px;
  font-size: 20px;
  border: 1px #d9d9d9 solid;
  border-radius: 4px;
}


/*Submit button*/
.btn-wrapper {
  width: 450px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.sign-btn, .sign-btn-invalid {
  width: 110px;
  height: 47px;
  font-size: 24px;
  color: white;
  background-color: #5cb85c;
  border-radius: 6px;
}
.sign-btn:hover {
  cursor: pointer;
  background-color: green;
}
.sign-btn-invalid {
  background-color: #8abf8a;
}
.sign-btn-invalid:hover {
  cursor: not-allowed;
}


/*Errors register*/
li {
  text-align: start;
  margin: -2px;
  font-size: 17px;
  color: red;
}

