<div [class]="['banner']">
  <h1>conduit</h1>
  <p>A place to share your <i>Angular</i> knowledge.</p>
</div>

<div [class]="['body']">

  <div [class]="['column-post']">

    <div [class]="['post-nav-link']">
      <a (click)="clickOnLink('your')" [class]="['nItem']" [class.chosenItem]="chosenTag === 'your'">Your Feed</a>
      <a (click)="clickOnLink('global')" [class]="['nItem']" [class.chosenItem]="chosenTag === 'global'">Global Feed</a>
      <a (click)="clickOnLink('tag')" [class]="['nItem']" [class.chosenItem]="chosenTag === 'tag'">#chosenTag</a>
    </div>

    <app-posts></app-posts>

  </div>
  <div [class]="['tag-wrapper']">
    <app-popular-tags ></app-popular-tags>
  </div>
</div>




