/*Banner*/
.banner {
  text-align: center;
  background: #5cb85c;
  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3),inset 0 -8px 8px -8px rgba(0,0,0,0.3);
  padding: 30px;
  margin-bottom: 35px;
}
.banner>h1 {
  font-size: 50px;
  font-weight: bolder;
  color: white;
}
.banner>p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
}


/*Skeleton*/
.body {
  display: flex;
  width: 80%;
  margin: auto;
}
.column-post {
  width: 70%;
}
.post-nav-link {
  display: flex;
}
.tag-wrapper {
  margin-left: 20px;
}



.nItem {
  color: darkgray;
  font-size: 17px;
  padding: 10px;
  text-decoration: none;
  border-bottom: solid 2px #ffffff;
}
.nItem:hover {
  color: dimgrey;
  cursor: pointer;
}
.chosenItem{
  color: #5cb85c;
  border-bottom: solid 2px #5cb85c;
}

