<div [class]="['banner']">
  <h1>conduit</h1>
  <p>A place to share your <i>Angular</i> knowledge.</p>
</div>

<div [class]="['body']">

  <div [class]="['column-post']">

    <div [class]="['post-nav-link']">
      <a [class]="['nItem', 'chosenItem']">Your Feed</a>
      <a [class]="['nItem']">Global Feed</a>
      <a [class]="['nItem']">#chosenTag</a>
    </div>

    <app-posts></app-posts>

  </div>
  <div [class]="['tag-wrapper']">
    <app-popular-tags ></app-popular-tags>
  </div>
</div>




